name: Lint and Unit Test

on:
  pull_request:
    branches:
      - main

jobs:
  init:
    runs-on: ubuntu-latest
    name: Init Environment
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setting JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: 17.0.12

      - name: Gradle Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

  lint:
    needs: init
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Lint
        run: ./gradlew ktlintCheck

  unit-test:
    needs: [init, lint]
    runs-on: ubuntu-latest
    name: Unit Test
    steps:
      - name: Unit Test
        run: ./gradlew test
